.DS_Store
wget-log
*~
articles
emails
interview_Luc-Montagnier
~*
.Rproj.user
#*
.#*
README.html
#*
\#*
Icon*
.Rhistory
*GISAID*.fa
*GISAID*.fasta
*GISAID*.aln
*GISAID*.pir
INSTALL.html
Iconr
manuscripts
memory_images/
*GISAID*
*_log.txt
